body {
	background:#1c1c1c;
	color:#a7d129;
	font-family: 'Inconsolata', monospace;
}
div {
        width:100%;
        max-width:874px;
        margin:24px auto;
}
hr{
	color:#32302f;
}
ul{
	list-style: none;
}
li{
	color:#81b214; 
}
a{
	text-decoration:none;
	color:#9ede73;
}
pre{
	background: #1c1c1c;
}
